In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [8]:
df = pd.read_csv('housing.csv')
df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
X_variables = df[['total_rooms','total_bedrooms','median_income']]
X_variables

       total_rooms  total_bedrooms  median_income
0            880.0           129.0         8.3252
1           7099.0          1106.0         8.3014
2           1467.0           190.0         7.2574
3           1274.0           235.0         5.6431
4           1627.0           280.0         3.8462
...            ...             ...            ...
20635       1665.0           374.0         1.5603
20636        697.0           150.0         2.5568
20637       2254.0           485.0         1.7000
20638       1860.0           409.0         1.8672
20639       2785.0           616.0         2.3886

[20433 rows x 3 columns]

In [9]:
X_variables.values

array([[8.8000e+02, 1.2900e+02, 8.3252e+00],
       [7.0990e+03, 1.1060e+03, 8.3014e+00],
       [1.4670e+03, 1.9000e+02, 7.2574e+00],
       ...,
       [2.2540e+03, 4.8500e+02, 1.7000e+00],
       [1.8600e+03, 4.0900e+02, 1.8672e+00],
       [2.7850e+03, 6.1600e+02, 2.3886e+00]])

In [10]:
vif_data = pd.DataFrame()
vif_data["feature"] = X_variables.columns
vif_data["VIF"] = [variance_inflation_factor(X_variables.values, i) for i in range(len(X_variables.columns))]

In [11]:
vif_data

          feature        VIF
0     total_rooms  21.185403
1  total_bedrooms  18.607639
2   median_income   2.305062

VIF starts at 1 and has no upper limit
VIF = 1, no correlation between the independent variable and the other variables
VIF exceeding 5 or 10 indicates high multicollinearity between this independent variable and the others